#gdcp{
  background-color: blue;
  color: white;
}
#baidu{
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
input[type=text]{
  width: 50%;
  margin: 20px;
  margin-left: 300px;
  margin-right: 0px;
}
#qrcode{
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#dreamschool{
  margin-left: 320px;
}
.introduction{
  margin-right: 100px;
  text-decoration: underline;
}
#iusucks{
  margin-top: 20px;
  text-align: center;
}
#pu{
  margin-top: 15px;
}
